PORT=9000
MONGO_URI="mongodb://admin:pass@127.0.0.1:27017/auth-api?authSource=admin"
JWT_SECRET="some-long-random-string-here""
JWT_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="some-long-random-string-here"
JWT_REFRESH_EXPIRES_IN="7d"